body{
    overflow-x: hidden;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-center>h1{
    margin-bottom: 25px;
}
.main-content{
    padding: 20px;
    width: 100vw;
    background-color: lightpink;
}
.faq{
    width: 50%;
    background-color: #ddd;
    padding: 40px 20px;
    border-radius: 20px;
}
.accordian{
    background-color: #fff;
    padding: 5px 10px;
    line-height: 1.5rem;
    box-shadow: 5px 5px 10px #888;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.question{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon{
    margin-right: 20px;
    transition: transform 0.5s;
}
.answer{
    overflow: hidden;
    max-height: 0;
    color: #222;
    transition: all 0.5s;
}
.icon.active{
    transform: rotate(-180deg);
}